.errorPage {
    background: #ff8a5b;
    display: flex;
    flex-direction: row;

    height: 100vh;
    width: 100vw;
}

.errorComponent {
    
    .errorComponentTitle {
        font-family: "Concert One", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    
    display: flex;

    width: 75%;
    height: 75%;

    flex-direction: column;
    background: white;

    border-radius: 25px;
    margin: auto;

    padding: 2vmin;

    position: relative;
}

.gamerCat {
    position: absolute;
    width: 30vmin;
    right: -6vmin;
    top: -8vmin;
}