.header {
  position: fixed !important;
  top: 0;
  z-index: 999999;
}

.idolCat {
    position: absolute;
    z-index: -1;
    width: 500px;
    right: 100px;
    top: 300px;


    @media (max-width: 1216px) {
        display: none;
    }
}