@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;

    overflow-x: hidden;
}

* {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

    /* Scrollbar Firefox */
    scrollbar-color: #d35400 #eee; /* thumb (orange), track (gris clair) */
}