.mainBGComponent {
    position: relative;
}

.mainComponent {
    position: relative;

    /*margin: -5px;
    background: #FF8A5B;
    padding: 10px;*/

    padding-top: 300px;

    /*h1 {
        color: white;

        font-family: "Concert One", sans-serif;
        font-weight: 400;
        font-style: normal;

        padding-left: 50px;
        padding-right: 50px;

        font-size: 50px;

        @media (max-width: 576px) {
            font-size: 22px;
        }
    }

    h2 {
        color:white;

        font-family: "Rubik", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;

        padding-left: 50px;
        padding-right: 50px;

        font-size: 26px;

        @media (max-width: 576px) {
            font-size: 18px;
        }
    }

    h3 {
        &:before {
            content: "> "
        }
        color:white;

        font-family: "Rubik", sans-serif;
        font-optical-sizing: auto;
        font-weight: 200;
        font-style: normal;

        padding-left: 50px;
        padding-right: 50px;

        font-size: 22px;

        @media (max-width: 576px) {
            font-size: 16px;
        }
    }*/

    display: flex;
    flex-direction: column;

    /*span {
        display: flex; 
        font-size: 24px;
        color: white;
        padding-left: 120px;
        padding-right: 120px;

        @media (max-width: 1305px) {
            font-size: 20px;
            padding-left: 90px;
            padding-right: 90px;
    
            //background: red;
        }

        @media (max-width: 576px) {
            font-size: 13px;
            padding-left: 30px;
            padding-right: 30px;
    
            //background: green;
        }

    }

    p {
        color: white;
        padding-left: 50px;
        padding-right: 50px;

        @media (max-width: 1305px) {
            font-size: 20px;
            padding-left: 30px;
            padding-right: 30px;
    
            //background: red;
        }

        @media (max-width: 576px) {
            font-size: 13px;
            padding-left: 15px;
            padding-right: 15px;
    
            //background: green;
        }

        strong {
            font-weight: bold;
        }
    }*/
}

