.nav-mobile {

    @media (min-width: 672px) {
        display: none;
    }

    width: 100%;
    height: 3em;
    display: flex;
    justify-content: center;
    padding: 1em;
}

.hamburger {
    height: 100%;
    width: 4em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
}

.barHamburger {
    width: 4em;
    height: 0.5em;
    background-color: #ff8a5b;
    border-radius: 0.5em;
}
  
/* ----- animations--------- */
/* clicked */
.barHamburger.clicked:nth-child(1){
    transform: rotate(45deg) translate(0.75em, 1.25em);
    transition: ease-out 0.25s;
}

.barHamburger.clicked:nth-child(2){
    transform: scale(0.01);
    /*transition: ease-out 0.1s;*/
}

.barHamburger.clicked:nth-child(3){
    transform: rotate(135deg) translate(-0.5em, 1em);
    transition: ease-out 0.25s;
}

/* unclicked */
.barHamburger.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

.menu-desktop {
    .item {
        @media (max-width: 671px) {
            display: none;
        }
    }
}

.menu-mobile {
    flex-direction: column;
    text-align: center;

    @media (min-width: 672px) {
        display: none !important;
    }
}

/* ------------- sliding menu ------------------ */
.hidden {
    display: none !important;
}

.visible {
    display: inherit;
}

.nav {
    position: absolute;
    z-index: 5;
    display: flex;
    align-items: center;
    width: 100vw;

    flex-wrap: wrap;
    justify-content: right;

    padding-top: 15px;
    gap: 10px;

    box-sizing: border-box;
    padding-right: 100px;

    @media (max-width: 672px) {
        justify-content: center;
    }

    :global {
        a {
            text-decoration: none;
            
        }
    }

    .logo {
        &:hover {
            filter: drop-shadow(0 0 10px #ff895b61);
        }
    }

    .nyassobiLogo {
        @media (max-width: 1305px) {
            width: 100%;
        }
    }

}

/*.active {
    .item {
        color: hwb(173 35% 50%);
    }
}*/

.item {

    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-size: 24px;

    padding: 15px;

    color: #FFFFFF;
    
    z-index: 5;

    &:hover {
        color: #e8e8e8;

        filter: drop-shadow(0 0 5px #59baaf);
    }

    :global {
        #selected {
            color: r;
        }
    }
}

.logo {
    img {
        width: 200px;
    }
}

.menu-deroulant {
    position: relative;

    border-radius: 30px 30px 0px 0px;
    border-left: #ED5E24 10px solid;
    border-right: #ED5E24 10px solid;
}

.menu-deroulant:hover {

    border-radius: 30px 30px 0px 0px;
    border-left: white 10px solid;
    border-right: white 10px solid;
}

.menu-deroulant:hover .sous-menu {
    display: block;
}

.sous-menu {
    display: none;

    position: absolute;
    top: 55px;
    left: -10px;
    width: 100%;

    z-index: 5;

    background: #ED5E24;
    border-radius: 0px 0px 30px 30px;

    border-left: white 10px solid;
    border-right: white 10px solid;
    border-bottom: white 10px solid;
}