.link {
    display: flex;
    flex-direction: row;

    :global {
        a {
            text-decoration: none;
            margin-left: auto;
            margin-right: 75px;

            @media (max-width: 672px) {
                margin: auto;
            }
        }
    }
}

.item {
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-size: 35px;

    padding: 5px;

    color: #ff8a5b;
    
    &:hover {
        color: #ff895bdb;
        filter: drop-shadow(0 0 5px #ff895bdb);
    }

    :global {
        #selected {
            color: r;
        }
    }
}