.swiper {
    width: 50vw;
    height: 30vw;
  
    border: 7px solid #ED5E24;
    border-radius: 15px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  width: 1vw;
  height: 1vw;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  opacity: 1;
  background: #D9D9D9;
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #ED5E24;
}



.swiper-vertical > .swiper-pagination-bullets, .swiper-pagination-vertical.swiper-pagination-bullets {
    right: -25px;
    transform: translate3d(0px, 30%, 0)
}

.swiper-row {
    display: flex;
    flex-direction: row;
}

.custom-pagination {
    padding-right: 15px;
}