.NyassoTitle {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    

}

.NyassoTitle img {
    width: 60px;
    height: 60px;
    margin-top: auto;
    margin-bottom: auto;
}

.NyassoTitle h1 {
    /* C'est quoi Nyassobi ? */
    
    /*background: red;*/

    font-family: 'Concert One';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 75px;

    color: #ED5E24;

    border: 5px solid #FFFFFF;
    text-shadow:
        4px 4px 0 #fff,
       -4px 4px 0 #fff,
        4px -4px 0 #fff,
       -4px -4px 0 #fff,
       -4px 8px 8px rgba(98, 98, 98, 0.761);
    

    margin: 0;
    padding: 0;

    padding-left: 15px;
    padding-bottom: 10px;

}

.NyassoSubTitle h2 {
    
    margin-top: -24px;

    font-family: 'Concert One';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 75px;

    color: #2EC4B6;

    border: 5px solid #FFFFFF;
    text-shadow:
        4px 4px 0 #fff,
       -4px 4px 0 #fff,
        4px -4px 0 #fff,
       -4px -4px 0 #fff,
       -4px 8px 8px rgba(98, 98, 98, 0.761);
    

    margin: 0;
}

.roundHeader {
    content: '';
    width: 50px;
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 50%;

    border: 8px dashed #ED5E24;
    
}