$--colorContent: --colorContent;
$--colorContentInv: --colorContentInv;

$--colorGrey: --colorGrey;
$--colorGreen: --colorGreen;
$--colorRed: --colorRed;
$--colorBlueMSI: --colorBlueMSI;
$--colorOrange: --colorOrange;

$--colorShadow: --colorShadow;
$--colorDisabled: --colorDisabled;

$--colorStep1: --colorStep1;
$--colorStep2: --colorStep2;
$--colorBlueMSI2: --colorBlueMSI2;

$--colorTableRow: --colorTableRow;
$--colorTableRowAlternate: --colorTableRowAlternate;

$--colorPopupMask: --colorPopupMask;
$--colorPopupBg: --colorPopupBg;

// Default theme
$theme-map-light: (
    $--colorContent: #000000,
    $--colorContentInv: #FFFFFF,

    $--colorGrey: #404b50,
    $--colorGreen: #10cb3c,
    $--colorRed: #e52700,
    $--colorBlueMSI: #00b4cd,
    $--colorOrange: #ebb400,

    $--colorShadow: #c6c6c6,
    $--colorDisabled: #dedede,

    $--colorStep1: #757d80,
    $--colorStep2: #7ad4e1,
    $--colorBlueMSI2: #1da3b5,

    $--colorTableRow: #ececec,
    $--colorTableRowAlternate: #d6f1f5,

    $--colorPopupMask: #181818,
    $--colorPopupBg: #FFFFFF,
);

// Override the default light theme
$theme-map-dark: (
    $--colorContent: #000000,
    $--colorContentInv: #FFFFFF,

    $--colorGrey: #404b50,
    $--colorGreen: #10cb3c,
    $--colorRed: #e52700,
    $--colorBlueMSI: #00b4cd,
    $--colorOrange: #ebb400,

    $--colorShadow: #c6c6c6,
    $--colorDisabled: #dedede,

    $--colorStep1: #757d80,
    $--colorStep2: #7ad4e1,
    $--colorBlueMSI2: #1da3b5,

    $--colorTableRow: #ececec,
    $--colorTableRowAlternate: #d6f1f5,

    $--colorPopupMask: #181818,
    $--colorPopupBg: #FFFFFF,
);