.waveJoinOrganization-1 {
    position: absolute;
    top: -999px;
    left: -999px;
    width: 0;
    height: 0;

    /*min-height: 272px;*/
    filter: drop-shadow(0px 6px 22.9px rgba(0, 0, 0, 0.25));

    pointer-events: none;
}


.waveJoinOrganization-clip {

    mask-image: url("./svg.svg");
    mask-mode: luminance;
    mask-repeat: no-repeat;
    mask-size: 100% 100%;

    /*background: red;*/

    position: absolute;
    top: 53px;
    left: 0;

    z-index: 2;

    width: 100vw;
    min-height: 272px;

    overflow: hidden;
}

.waveJoinOrganization-2 {
    position: absolute;
    top: 53px;

    z-index: 1;

    width: 100vw;
    min-height: 272px;

    filter: drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.14));

    pointer-events: none;
}

.idolCat {
    position: absolute;
    right: 7vw;
    bottom: -115px;
    /*overflow: hidden;*/

    width: 300px;

    z-index: 3;

    pointer-events: none;
}

.waveJoinOrganization-clip {
    cursor: pointer;
}

.waveJoinOrganization-clip:hover .idolCat {
    transform: translateY(-12px); /* ou une autre animation comme rotate, scale, etc. */
    transition: transform 0.1s ease-out;
}

.adhesion-text {
    position: absolute;
    right: 235px;
    z-index: 4;
    top: 185px;
    width: 39vw;

    pointer-events: none;
}