.waveJoinOrganization-1 {
    position: absolute;
    top: -999px;
    left: -999px;
    width: 0;
    height: 0;

    /*min-height: 272px;*/
    filter: drop-shadow(0px 6px 22.9px rgba(0, 0, 0, 0.25));

    pointer-events: none;
    display: none !important;
}


.waveJoinOrganization-clip {
    mask-image: url("./svg.svg");
    mask-mode: luminance;
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    pointer-events: none;

    /*background: red;*/

    position: absolute;
    top: 53px;
    left: 0;

    z-index: 2;

    width: 100vw;
    min-height: 272px;

    overflow: hidden;
}

.waveJoinOrganization-2 {
    position: absolute;
    top: 53px;

    z-index: 1;

    width: 100vw;
    min-height: 272px;

    filter: drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.14));

    pointer-events: none;
}

.idolCat {
    position: absolute;
    right: 7vw;
    bottom: -115px;
    /*overflow: hidden;*/

    width: 300px;

    z-index: 3;

    pointer-events: none;
}

.waveJoinOrganization-clip {
    cursor: pointer;
}

.responsiveHide {
    display: block;
}

@media (max-width: 1279px) {
    .waveJoinOrganization-link,
    .adhesion-text,
    .waveJoinOrganization-clip,
    .waveJoinOrganization-2 {
        pointer-events: none;
        display: none;
    }
}

.adhesion-text {
    position: absolute;
    right: 235px;
    z-index: 4;
    top: 185px;
    width: 39vw;
}

.wavePath {
    pointer-events: visiblePainted; 
    transition: fill .2s ease;
}

.isHovered {
  cursor: pointer;
  background: red;
}

.isHovered .idolCat {
  animation: bounce 0.3s infinite alternate ease-out;
}

.isHovered .wavePath {
  fill: #4abaaf;
  transition: .2s ease;
}

.isHovered .adhesion-text {
  opacity: 1;
}

@keyframes bounce {
  0%   { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}


