.wipComponent {
    display: flex;
    flex-direction: row;
    background: #ff8a5b;
    padding: 5px;
    margin: auto;

    color: white;
    font-size: larger;

    span {
        margin: auto;
    }
}